{% extends 'base.html.twig' %}

{% block title %}Index of todos{% endblock %}

{% block body %}
    <a href="/todo/create" class="btn btn-primary btn-sm" style="margin-bottom: 10px;">New</a>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>NO</th>
                <th>NAME</th>
                <th>CATEGORY</th>
                <th>DESCRIPTION</th>
                <th>DUE</th>
                <th></th>
            </tr>
        <thead>

        {% for todo in todos %}
        <tr>
            <td>nomor</td>
            <td>{{ todo.name }}</td>
            <td>{{ todo.category }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.dueDate | date('F j, Y, g:i:A') }}</td>
            <td>
                <a href="/todo/details/{{ todo.id }}" class="btn btn-success btn-sm">View</a>
                <a href="/todo/edit/{{ todo.id }}" class="btn btn-info btn-sm">Edit</a>
                <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
